*{
    margin: 0px;
    padding: 0px;
}

.all-content{
    width: 70%;
    margin: 0px auto;
    text-align: center;
}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(180px, 1fr) );
    grid-auto-flow: row;
    padding-top: 25px;
}

img{
    border-radius: 6px;
}

a{
    max-width: 200px;
}